@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* Root variables */
:root {
    --very-dark-gray: hsl(0, 0%, 17%);
    --dark-gray: hsl(0, 0%, 59%);
    --search-bar-height: 33vh;
    --search-bar-height-m: 40vh;
}

/* Basic styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
}

/* Grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 50vw repeat(2, 1fr);
    grid-template-rows: 25vh auto auto calc(100vh - 25vh);
    grid-template-areas: 
    "header header header header header"
    ". data data data ."
    ". data data data ."
    "map map map map map";
    height: 100vh;
}

/* Header */
.header {
    grid-area: header;
    grid-row: 1 / 3;
    z-index: 0;
    background-image: url('./images/pattern-bg-desktop.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#ip-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ip-address {
    /* Dimensions */
    height: 60px;
    width: min(34.375rem, 85%);
    /* Margin, Padding and Borders */
    border: none;
    border-radius: 15px;
    padding: 30px;
    
    /* Text */
    color: var(--dark-gray);
    font-size: clamp(16px, 1.5vw, 18px);
}

/* Text styles */
h1 {
    color: white;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 30px;
    padding-top: 30px;
}

/* Data styles */
.data {
    grid-area: data;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    z-index: 1;
    background-color: white;
    border-radius: 15px;
    padding: 40px;
}

.data p {
    color: var(--dark-gray);
    font-size: clamp(0.7rem, 1.5vw, 0.8rem);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-bottom: 15px;
}

#ip,
#location,
#timezone,
#isp {
    font-weight: 500;
    font-size: clamp(1.4rem, 1.5vw, 1.7rem);
}

/* Map styles */
.map {
    grid-area: map;
    z-index: 0;
    grid-row: 3 / 6
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .data {
        flex-direction: column;
        text-align: center;
    }
    .grid-container {
        grid-template-columns: repeat(2, 1fr) 65vw repeat(2, 1fr);
    }
    .data p {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 420px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr) 70vw repeat(2, 1fr);
    }
}

