/* Container */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    /* Background */
    background-image: url('./images/pattern-bg-desktop.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Positioning and Dimensions */
    min-height: var(--search-bar-height);
    position: relative;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
}

h1 {
    /* Text */
    color: white;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 30px;
}

.form-group {
    /* Positioning and Dimensions */
    display: flex;
    justify-content: center;
}

#ip-address {
    /* Dimensions */
    height: 60px;
    width: min(34.375rem, 85%);
    /* Margin, Padding and Borders */
    border: none;
    border-radius: 15px 0px 0px 15px;
    padding: 30px;
    
    /* Text */
    color: var(--dark-gray);
    font-size: clamp(16px, 1.5vw, 18px);
}

button {
    /* Background */
    background-color: black;
    background-image: url('./images/icon-arrow.svg');
    background-position: center center;
    background-repeat: no-repeat;
    
    /* Dimensions */
    min-width: 3.75rem;
    
    /* Margin and Borders */
    border: none;
    border-radius: 0 15px 15px 0;
}

.data {
    display: grid;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    max-width: 85%;
    width: 100%;
    border-radius: 15px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    min-height: 170px;
}

.data-wrapper {
    font-weight: 500;
    font-size: clamp(1.4rem, 1.5vw, 1.7rem);
}

.data p {
    color: var(--dark-gray);
    font-size: clamp(0.7rem, 1.5vw, 0.8rem);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-bottom: 15px;
}

#ip,
#location,
#timezone,
#isp {
    font-weight: 500;
    font-size: clamp(1.4rem, 1.5vw, 1.7rem);
}

/* Map */
#map {
    width: 100%;
    height: calc(100vh - var(--search-bar-height));
    z-index: 1;
}


@media only screen and (max-width: 768px) {
    .data {
        flex-direction: column;
        text-align: center;
        padding: 30px
    }
}

